aiohttp==3.9.3
aiohttp-jinja2==1.6
aiosignal==1.3.1
attrs==23.2.0
frozenlist==1.4.1
idna==3.6
Jinja2==3.1.3
MarkupSafe==2.1.5
multidict==6.0.5
neurannparser @ https://github.com/NEURANN/NetworkParser/releases/download/v0.0.1/neurannparser-0.0.1-py3-none-win_amd64.whl
yarl==1.9.4
